			<ion-row>
				asd123
			</ion-row>
			<ion-row ng-repeat="element in addresses">
					{{element.id}}      
			</ion-row>
						<ion-item>
				<button ng-click="connectMac()" class='{{typeConnect}}'>
					{{textConnect}} 
				</button>
			</ion-item>




			<ion-view view-title="Settings">
	<ion-content>
		<ion-list>
			<ion-item>
				<button ng-click="findDevices()" class='button button-block button-positive'>
					Search devices
				</button>
				<ion-item class="row">
					<h2>Paired Devices</h2>
				</ion-item>
				<ion-item class="row" ng-repeat="device in pairedDevices">
					<button ng-click="connectMac({{device}})" class='{{typeConnect}}'>
						Connect {{device.name}}
					</button>
					
				</ion-item>
				<ion-item class="row">
					<h2>Discovered Devices</h2>
				</ion-item>
				<ion-item class="row" ng-repeat="device in discoveredDevices">
					<button ng-click="connectMac({{device}})" class='{{typeConnect}}'>
						Connect {{device.name}}
					</button>			
				</ion-item>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>




        <label class="item item-input">
          <span class="input-label">New Setpoint</span>
          <input type="text" placeholder="22" id="setpointData">
        </label>