<ion-view view-title="Settings">
	<ion-content>
		<ion-list>
			<ion-item>
				<ion-item class="row">
					Paired Devices
				</ion-item>
				<ion-item class="row" ng-repeat="device in pairedDevices">
					{{device.name}}
				</ion-item>
				<ion-item class="row">
					Discovered Devices
				</ion-item>
				<ion-item class="row" ng-repeat="device in discoveredDevices">
					{{device.name}}
				</ion-item>
				<button ng-click="findDevices()" class='button button-block button-positive'>
					Refresh 
				</button>

			</ion-item>
			<ion-item>
				<button ng-click="connectMac()" class='{{typeConnect}}'>
					{{textConnect}} 
				</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
