<ion-view view-title="Temperature Control">
  <ion-content class="padding">
    <p>
    <h2>New setpoint</h2>
      <div class="list">
  <label class="item item-input">
    <span class="input-label">Set</span>
    <input type="text" placeholder="value">
  </label>
  <button ng-click="ConfirmTemp" class="button button-block button-positive">
  Confirm
</button>
    
</div>
<h2> Readings </h2>
<div class="list">
     <label class="item item-input">
    <span class="input-label">Setpoint</span>
    value
  </label> 
       <label class="item item-input">
    <span class="input-label">Current value</span>
    <span>value</span>
  </label> 
</div>
    </p>
  </ion-content>
</ion-view>
