

<ion-view view-title="Light Control">

  <ion-content>
    <ion-list style="text-align:center">
      <ion-item>
        <button ng-click="Click1()" class='{{type1}}'>
          Scene 1 {{text1}}
        </button>

        <button ng-click="Click2()" class='{{type2}}'>
          Scene 2 {{text2}}
        </button>
      </ion-item>
      <ion-item>

        <button ng-click="Click3()" class='{{type3}}'>
          Scene 3 {{text3}}
        </button>

                <button ng-click="Click4()" class='{{type4}}'>
          Scene 4 {{text4}}
        </button>


      </ion-item>
      <ion-item>

        <button ng-click="ClickAll()" class='{{typeAll}}'>
         All {{textAll}}
        </button>

      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
