



<ion-view view-title="Temperature Control">
  <ion-content class="padding">
    <p>
      <h2>New setpoint</h2>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">New Setpoint</span>
          <input type="text" placeholder="22" id="setpointData">
        </label>

        <button ng-click="sendSetpoint()" class="button button-block button-positive">
          Send
        </button>
      </div>

      <h2> Readings </h2>

      <div class="list">
       <label class="item item-input">
        <span class="input-label">Setpoint Temperature</span>
        {{currentSetpoint}}
      </label> 
      <label class="item item-input">
        <span class="input-label">Current Temperature</span>
        <span>{{currentTemperature}}</span>
      </label> 
      <button ng-click="receiveData()" class="button button-block button-positive">
          Receive
      </button>
    </div>
  </p>
</ion-content>
</ion-view>
