<ion-view view-title="Control">
  <ion-content>
    <div class="list">
      <button ng-click="sendSetpoint()" class="button button-block button-balanced">
      Confirm new settings
      </button>
      <label class="item item-input item-select">
        <div class="input-label">
          Regulator type
        </div>
        <select ng-model="regulatorType">
          <option selected>PID</option>
          <option>Hysteresis</option>
        </select>
      </label>
      
      <div class="row">
        <div class="col col-50" align="center">Temperature</div>
        <div class="col col-50" align="center">{{newSetpoint}}</div>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-thermometer-outline"></i>
        <input type="range" name="kp" min="10" max="30" value="24" ng-model="newSetpoint">
        <i class="icon ion-thermometer"></i>
      </div>

      <div class="row">
        <div class="col col-50" align="center">KP</div>
        <div class="col col-50" align="center">{{kpValue}}</div>
      </div>
      <div class="item range range-positive">
        <i>0</i>
        <input type="range" name="kp" min="0" max="50" value="15" ng-model="kpValue">
        <i>50</i>
      </div>
      <div class="row">
        <div class="col col-50" align="center">KI</div>
        <div class="col col-50" align="center">{{kiValue}}</div>
      </div>
      <div class="item range range-positive">
        <i>0</i>
        <input type="range" name="ki" min="0" max="10" value="2" ng-model="kiValue">

        <i>10</i>
      </div>
      <div class="row">
        <div class="col col-50" align="center">KD</div>
        <div class="col col-50" align="center">{{kdValue}}</div>
      </div>
      <div class="item range range-positive">
        <i>0</i>
        <input type="range" name="kd" min="0" max="10" value="1" ng-model="kdValue">
        <i>10</i>
      </div>
    </div>
    <ion-item>
    </ion-item>
  </ion-content>
</ion-view>
