<ion-view view-title="Control">
  <ion-content class="padding" style="text-align:center">
    <div class="list">

      <font size="4">
        <label class="item item-input item-select">
          <div class="input-label">
            Regulator type
          </div>
          <select ng-model="data.regulatorType">
            <option selected>PID</option>
            <option>Hysteresis</option>
          </select>
        </label>

        <div class="row">
          <div class="col col-50" align="center">Temperature</div>
          <div class="col col-50" align="center">{{data1.newSetpoint}}</div>
        </div>
        <div class="item range range-positive">
          <i class="icon ion-ios-snowy"></i>
          <input type="range" name="Temperature" min="0" max="40" value="22" ng-model="data1.newSetpoint">
          <i class="icon ion-fireball"></i>
        </div>
      </font>

      <button class="button button-block button-positive" ng-click="openModal(1)">
        PID settings
      </button>
      <button class="button button-block button-positive" ng-click="openModal(2)">
        Hysteresis settings
      </button>

      <button ng-click="sendSetpoint()" class="button button-block button-balanced">
        Confirm new settings
      </button>

    </div>
  </ion-content>


  <script id="templates/pidsettings.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="closeModal(1)">HIDE</button>
      </ion-header-bar>
      <ion-content class="padding" style="text-align:center">
        <h3>PID settings</h4>
          <font size="4">
            <div class="row">
              <div class="col col-50" >KP</div>
              <div class="col col-50" >{{data2.kp}}</div>
            </div>
            <div class="item range range-positive">
              <i>0</i>
              <input type="range" name="kp" min="0" max="500" step="5" ng-model="data2.kp">
              <i>250</i>
            </div>
            <div class="row">
              <div class="col col-50" >KI</div>
              <div class="col col-50" >{{data3.ki}}</div>
            </div>
            <div class="item range range-positive">
              <i>0</i>
              <input type="range" name="ki" min="0" max="50" ng-model="data3.ki">
              <i>10</i>
            </div>
            <div class="row">
              <div class="col col-50" >KD</div>
              <div class="col col-50" >{{data4.kd}}</div>
            </div>
            <div class="item range range-positive">
              <i>0</i>
              <input type="range" name="kd" min="0" max="200" ng-model="data4.kd">
              <i>10</i>
            </div>
          </font>
          <button ng-click="defaultSettings1()" class="button button-block button-balanced">
            Default regulator settings
          </button>
        </ion-content>
      </ion-modal-view>
    </script>


      <script id="templates/hysteresissettings.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="closeModal(2)">HIDE</button>
      </ion-header-bar>
      <ion-content class="padding" style="text-align:center">

            <h3>Hysteresis settings</h4>
            <div class="row">
            <div class="col col-50" >Hysteresis</div>
              <div class="col col-50" >{{data5.hyst}}</div>
            </div>
            <div class="item range range-positive">
              <i>0</i>
              <input type="range" name="hyst" min="0.5" max="2.5" step="0.5" ng-model="data5.hyst">
              <i>1</i>
            </div>

            <div class="row">
            <div class="col col-50" >Power</div>
              <div class="col col-50" >{{data6.power}}</div>
            </div>
            <div class="item range range-positive">
              <i>0</i>
              <input type="range" name="power" min="0" max="255" ng-model="data6.power">
              <i>255</i>
            </div>

          </font>
          <button ng-click="defaultSettings2()" class="button button-block button-balanced">
            Default regulator settings
          </button>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-view>
